[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
djangorestframework = "*"
mod-wsgi = "*"
gunicorn = "*"
dj-database-url = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
